body {
    background: rgb(179, 179, 179)
}

ul {
    text-align: center;
    padding: 0;
}

.nav-item {
    display: inline-block;
    background: rgb(48, 73, 255);
    padding: 15px;
    border-radius: 10px;
    width: 70px;
}

.banner {
    text-align: center;
}