<header>
    <a class="logo" href="../../index.html"><img src="{{ site.url }}./assets/images/logo.png"></a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li><a href="../../index.html"><button class="nav-item" type="button">Home</button></a></li>
        <li><a href="../../html/updates.html"><button  class="nav-item" type="button">Updates</button></a></li>
        <li><a href="../../html/montyproof.html"><button  class="nav-item" type="button">Monty's Hall</button></a></li>
      </ul>
    </nav>
</header>
<div class="header-bg"></div>